<div class="container">
  <form action="/" method="POST">
    <div class="form-group">
      <input type="url" name="url" placeholder="Input URL here" required>
      <button type="submit" class="btn btn-outline-primary">Shorten</button>
    </div>
  </form>
</div>